@use 'node_modules/sanitize.css/sanitize.css';
@use 'node_modules/sanitize.css/forms.css';
@use 'node_modules/sanitize.css/system-ui.css';
@use 'node_modules/sanitize.css/typography.css';

@font-face {
    font-family: 'Press Start 2P';
    src: url("./PressStart2P-Regular.ttf") format("truetype");
}

$primary-color: #0ABDC6;
$custom-font: 'Press Start 2P', sans-serif;

$background-color: #000505;
$on-background: rgba(255, 255, 255, 0.93);

$surface: #022527;

$body-background: $background-color;
$body-color: $on-background;

$link-color: $primary-color;

$container-padding-x: 1rem;
$container-main-max-width: 75rem;

$header-padding-y: 2rem;
$header-padding-x: 0;

$heading-main-font-family: $custom-font;
$heading-main-font-size: 1.25rem;
$heading-main-line-height: 1;
$heading-main-color: $primary-color;

$main-padding-y: 2rem;
$main-padding-x: 0;

$chip8-screen-container-border: $primary-color 1px solid;
$chip8-screen-container-aspect-ratio: 16 / 8;
$chip8-container-gap: 1rem;

$footer-padding-y: 1rem;
$footer-padding-x: 0;

body {
    background-color: $body-background;
    color: $on-background;
}

a {
    color: $link-color;
}

button {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    padding: 0 $container-padding-x;
    max-width: $container-main-max-width;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: $header-padding-y $header-padding-x;
}

.main-heading {
    font-family: $heading-main-font-family;
    font-size: $heading-main-font-size;
    line-height: $heading-main-line-height;
    color: $heading-main-color;
    margin: 0;
}

.main {
    padding: $main-padding-y $main-padding-x;
    flex-grow: 1;
}

.chip8 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__screen-container {
        border: $chip8-screen-container-border;
        aspect-ratio: $chip8-screen-container-aspect-ratio;
        width: 100%;
    }

    &__screen {
        width: 100%;
        height: 100%;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: $chip8-container-gap;
    }

    &__controls {
        display: flex;
        gap: .5rem;
    }

    &__control {
        font-family: $custom-font;
        font-size: .75rem;
        line-height: 1;
        padding: .75rem .5rem;
        border: $primary-color 1px solid;
        border-radius: .25rem;
        cursor: pointer;

        &--primary {
            background-color: $surface;
        }
    }

    &__info {
        p {
            max-width: 30rem;
            margin: 0 auto;
        }
    }

    &__keyboard {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: .5rem;
        margin: 0 auto;
    }

    &__key {
        font-family: $custom-font;
        background-color: $surface;
        border: $primary-color 1px solid;
        border-radius: .25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
    }
}

.footer {
    padding: $footer-padding-y $footer-padding-x;

    &__content {
        margin: 0;
    }
}
